#hero-image h1 {
  max-width: 1000px;
}

#hero-image .subtitle,
#hero-image .quote {
  max-width: 720px;
}

#hero-image .manifesto {
  max-width: 680px;
}


#hero-image p {
  margin-left: auto;
  margin-right: auto;
}
