/* HomeCSS/home.css */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 60px auto;
  color: #333;
  line-height: 1.6;
}

#hero-image {
  background-image: url(/PICTURES/Hero/HeroHome.jpg);
  background-size: cover;
  margin-bottom: 80px;
  width: 100%;
  min-height: 60vh;
}

h1 {
  color: #dfdfdf;
  font-size: 61px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  color: #444;
  font-size: 34px;
  font-weight: normal;
  margin-bottom: 20px;
}

.subtitle {
  color: #eee2e2;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 40px;
}

.quote {
  color: #555;
  font-size: 24px;
  font-style: italic;
  margin-top: 20px;
}

p {
  color: #666;
  font-size: 18px;
}
em {
  color: #fadfdf;
  font-size: 22px;
}

.cta{
    margin-top: 30px;
}

.cta a{
    color: #0f0e0e;
    margin-right: 20px;
    text-decoration: underline;
}

.cta a.secondary{
    color: #2c2727;
}

a:hover{
    text-decoration: none;
}
