/* Librairie - HomeCSS/home.css */

body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 60px auto;
  color: #333;
  line-height: 1.6;
}

#hero-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/pictures/hero/hero_library01.jpg);
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  margin-bottom: 80px;
}